// AtkinsonHyperlegibleNext
@font-face {
	font-family: "AtkinsonHyperlegibleNext"; // by The Braille Institute - https://www.brailleinstitute.org/freefont/
	src: url("/public/fonts/AtkinsonHyperlegibleNext-Light.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AtkinsonHyperlegibleNext";
	src: url("/public/fonts/AtkinsonHyperlegibleNext-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "AtkinsonHyperlegibleNext";
	src: url("/public/fonts/AtkinsonHyperlegibleNext-LightItalic.woff2")
		format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "AtkinsonHyperlegibleNext";
	src: url("/public/fonts/AtkinsonHyperlegibleNext-BoldItalic.woff2")
		format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Norwester"; // by Jamie Wilson - https: //jamiewilson.io/
	src: url("/public/fonts/norwester.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

$headingFont: "Norwester", sans-serif;
$navFont: $headingFont;
$copyFont: "AtkinsonHyperlegibleNext", sans-serif;
