header {
	background-color: $navBgColour;

	section {
		padding-left: 15px;
	}

	nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		section {
			display: inline-block;

			h1 {
				display: inline-block;
			}

			a {
				display: inline-block;
			}
		}

		.trigger {
			display: inline-block;
			color: $navBgColour;
			background-color: $navFgColour;
			text-decoration: none;
			padding: 15px;
			border-radius: 10px;
			font-size: 2em;
			margin-right: 15px;

			@media (min-width: $breakpoint) {
				display: none;
			}
		}

		ul {
			display: none;
		}

		li {
			list-style-type: none;
			font-size: 2em;
			padding: 0;
			font-family: $navFont;
			font-weight: normal;
			margin: 15px;
		}

		a {
			color: $navFgColour;
			padding: 15px;
			display: block;
			border-radius: 10px;

			&:hover {
				background-color: $navFgColour;
				color: $hs2024red;
				text-decoration: none;
			}
		}

		&.close {
			display: list-item;
			text-align: right;

			@media (min-width: $breakpoint) {
				display: none;
			}
		}

		#touch-nav:target {
			display: block;
			width: 100%;
		}
	}

	@media (min-width: $breakpoint) {
		nav {
			ul {
				display: flex;
				flex-direction: row;
			}
		}
	}
}

ul.current-index li.index,
ul.current-info li.info,
ul.current-kids li.kids,
ul.current-bands li.bands,
ul.current-food li.food {
	a {
		background-color: $mainBgColour;
		color: $navBgColour;
		text-decoration: none;
	}
}
