main {
	h1 {
		font-family: $headingFont;
		font-weight: normal;
		font-size: 4.5em;
		text-transform: uppercase;
	}

	h2 {
		font-family: $headingFont;
		font-weight: normal;
		font-size: 2.75em;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	h3 {
		font-family: $headingFont;
		font-weight: normal;
		font-size: 2em;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	p,
	li {
		font-size: 2.25em;
	}

	p {
		margin-bottom: 1em;
		line-height: 1.5;
	}

	ul + p {
		margin-top: 1em;
	}

	section {
		p:last-child {
			margin-bottom: 0;
		}
	}

	section.copy p {
		text-align: justify;
	}

	ul {
		margin-bottom: 1em;
	}

	li {
		margin-left: 30px;
		margin-top: 10px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.force-lower {
	text-transform: lowercase;
}

.smolprint {
	font-size: 1.5em;
	font-style: italic;
}
