$hs2024red: rgb(208 38 41);
$yellow: #ff3;
$red: #900;
$hsBlue: #0064ff;
$hsPink: #ffa0e6;
$black: #000;
$white: #fff;
$mainFgColour: $black;
$mainBgColour: $white;
$panelBg: rgba(255 255 255 / 90%);
$mainLinkColour: $hs2024red;
$mainLinkHoverColour: $hs2024red;
$navFgColour: $white;
$navBgColour: $black;
$navLinkColour: $hs2024red;
$navLinkHoverColour: $white;
$breakpoint: 800px;
