// Atkinson Hyperlegible
@font-face {
	font-family: AtkinsonHyperlegible;
	src: url("/public/fonts/Atkinson-Hyperlegible-Regular-102a.woff2")
			format("woff2"),
		url("/public/fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: AtkinsonHyperlegible;
	src: url("/public/fonts/Atkinson-Hyperlegible-Bold-102a.woff2")
			format("woff2"),
		url("/public/fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: AtkinsonHyperlegible;
	src: url("/public/fonts/Atkinson-Hyperlegible-Italic-102a.woff2")
			format("woff2"),
		url("/public/fonts/Atkinson-Hyperlegible-Italic-102.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: AtkinsonHyperlegible;
	src: url("/public/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2")
			format("woff2"),
		url("/public/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff")
			format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Norwester;
	src: url("/public/fonts/norwester.woff2") format("woff2"),
		url("/public/fonts/Monoton-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

$headingFont: "Norwester", sans-serif;
$navFont: $headingFont;
$copyFont: "AtkinsonHyperlegible", sans-serif;
