a {
	display: inline-block;
	text-decoration: underline;
	color: $mainLinkColour;

	&:hover {
		color: $mainBgColour;
		text-decoration: none;
	}

	img {
		display: inline-block;
	}
}

main,
footer {
	a:hover {
		background-color: $mainLinkColour;
	}
}
