$yellow: #ff3;
$red: #900;
$hsBlue: #0064ff;
$hsPink: #ffa0e6;
$black: #111;
$white: #fcfcfc;
$mainFgColour: $black;
$mainBgColour: $white;
$mainLinkColour: $hsBlue;
$mainLinkHoverColour: $hsPink;
$navFgColour: $hsPink;
$navBgColour: $hsBlue;
$navLinkColour: $white;
$navLinkHoverColour: $hsPink;
$breakpoint: 800px;
