---
layout: hoodmain
currPage: bands
---
<main>

	<section>
		<h1>THE BANDS</h1>
	</section>

	<section class="copy running-order">
		<h2>RUNNING ORDER</h2>
		<ul>
			{# <li>2.00pm – Doors open</li> #}
			<li>2.30pm – <a href="#band-flyers-etc">FLYERS ETC...</a></li>
			<li>3.00pm – <a href="#band-tamarin">TAMARIN</a></li>
			<li>4.00pm – <a href="#band-vintage-music-machine">VINTAGE MUSIC MACHINE</a></li>
			<li>4.45pm – <a href="#band-eva-isabella">EVA ISABELLA</a></li>
			<li>5.00pm – <a href="#band-grins">THE GRINS</a></li>
			<li>6.00pm – <a href="#band-indigo-down">INDIGO DOWN</a> &amp; <a href="#band-mitchs-bitches">MITCH’S BITCHES</a></li>
		</ul>
	</section>

	<section class="bands copy">

		<div class="band">
			<h3 id="band-flyers-etc">FLYERS ETC...</h3>
			<img src="/public/images/band/flyers-etc.jpg" alt="Flyers Etc...">

			<div class="copy">
				<p>Following his debut at Hoodstock in 2022, young guitarist legend Stan is back with his new band Flyers Etc... This year he'll be joined on stage by Ethan (also 13 yrs old), and their musical Dads!</p>
				<p>Playing a mix of classic tunes and with a guest appearance from Eliza Butler make sure you get to Hoodstock early to catch this unmissable set! </p>
			</div>
		</div>

		<div class="band">
			<h3 id="band-tamarin">TAMARIN</h3>
			<img src="/public/images/band/tamarin.jpg" alt="Tamarin">

			<div class="copy">
				<p>Tamarin was the brain-child (conceived with consent) of Jon Ewen and Jez Fielder. The ultimate power duo, Tamarin brought stadium rock sound and energy in a tiny footprint to pubs, clubs and festivals throughout the South-East.</p>

				<p>Before Alien Ant Farm brought you Smooth Criminal, Tamarin brought you Nude Criminal. Before Bowling for Soup brought you …Baby One More Time, Tamarin was there yawning at how late to the party they were. With Jon Ewen on drums and lead vocals, and Jez Fielder on guitar and lead vocals, the rest of the band was canned - which at the time was very unique.</p>

				<p>After a hugely popular run with Tamarin, Jez moved to London, and Rory took over, travelling down from University in Leeds each weekend to play hundreds of gigs over the next couple of years. It’s not uncommon now to see power duos performing each weekend, but Tamarin may have been the band to start it all!*</p>
				<p><em>(*This may not be completely true.)</em></p>
			</div>
		</div>

		<div class="band">
			<h3 id="band-vintage-music-machine">VINTAGE MUSIC MACHINE</h3>
		</div>

		<div class="band">
			<h3 id="band-eva-isabella">EVA ISABELLA</h3>
			<img src="/public/images/band/eva-isabella.jpg" alt="Eva Isabella">

			<div class="copy">
				<p>16 year old Eva Isabella embedded her love of music during COVID and after completing her GCSEs is looking forward to starting a music and songwriting course in Brighton this September. Eva likes to bring her own unique, modern jazz style to classic songs as well as writing her own songs. She is excited to be joining the line up for Hoodstock this year alongside various other performances in Sussex this summer.</p>
			</div>
		</div>

		<div class="band">
			<h3 id="band-grins">THE GRINS</h3>

			<div class="copy">
				<p>East Grinstead based Blues/Rock Covers from the 60s and 70s featuring Leigh Sanderson on the face melting 6 string, Craig Constable on the low down 4, Michael McCarthy on the mic and Dave Tongue on the drums. A relatively new band in its current line-up, which may even invite some guest vocals!</p>
			</div>
		</div>

		<div class="band">
			<h3 id="band-indigo-down">INDIGO DOWN</h3>
			<img src="/public/images/band/indigo-down.jpg" alt="Indigo Down">

			<div class="copy">
				<p><a href="https://indigodown.com/">Indigo Down</a> were formed in 1999 by the Fielder brothers, Jez and Paul. The band was inspired by the melodic hard rock of the early 90s, which of course meant long hair and eyeliner.</p>
				<p>Having been thrown a few quid by legendary manager Johnny Harper to get some rehearsal room time, they pulled together a 4-piece band and started gigging across London.</p>
				<p>Their debut album &ldquo;Gin Lane&rdquo; was released in 2004 to critical acclaim including a rousing review by Tyketto’s Danny Vaughn.</p>
				<p>Lineups changed over the next few years and gigs came and went until in 2010 the brothers contacted long term muso stalwarts Clive Murray (from Jez’s first band NSK) and Martin Szomszor (previously of Mitch’s Bitches) to join Indigo Down and relaunch the band.</p>
				<p>The sound a shade darker, the gigs a bit bigger. They outsold Chicago rockers Enuff Z’Nuff at London’s Underworld and had two separate support slots with Vegas hard rock outfit Love/Hate.</p>
				<p>July 2021 saw the long awaited release of <a href="https://indigodown.com/still-alive">their &ldquo;Still Alive&rdquo; EP</a>, produced by John Mitchell of Frost* and It Bites, and <a href="https://www.youtube.com/watch?v=UAFhv4xKi0c">a lockdown-inspired video</a> accompanied the release.</p>
				<p>Indigo Down are delighted to be bringing it all back home to Hoodstock in honour of their late friend and manager JH.</p>
			</div>
		</div>

		<div class="band">
			<h3 id="band-mitchs-bitches">MITCH’S BITCHES</h3>
			<img src="/public/images/band/mb2.jpg" alt="Mitch’s Bitches">

			<div class="copy">
				<p>Mitch’s Bitches made their debut at the Carlisle in Hastings on September 22nd, 1997 for Rory and Paul’s epic 18th birthday party, although in the weeks leading up to this, they played in public for the first time in Harper’s cellar bar. It was here where they met and began a lifelong friendship with John Harper (who may not have known that they were yet to turn 18, it was a different time!).</p>

				<p>Accompanied onstage at each gig by a six-foot cardboard cutout of David Hasselhoff as Mitch Buchanan from Baywatch, Mitch’s Bitches were Jez Fielder, Paul Fielder, and Rory Dale. Playing many gigs as a three piece, they went on to work with several bass players before solidifying their bottom end with Martin Szomszor. The Bitches played venues throughout Bexhill, Hastings, and Eastbourne over the following years and came second in the 1998 Battle of the Bands on Eastbourne pier.</p>

				<p>At a time when music was mostly baggy, depressing and deflated, Mitch’s Bitches were a welcome antidote playing a variety of heady covers and exciting originals, with all the smiles, harmonies, and hair flicks you’d expect from an early Bon Jovi gig!</p>
			</div>
		</div>

	</section>



	<section>
		<p><strong>NB: Running orders and stage times are approximate and may change on the day.</strong></p>
	</section>

</main>
