---
layout: hoodmain
currPage: food
---
<main>

	<section>
		<h1>FOOD &amp; DRINK</h1>
	</section>


	<section>
		<p>We are really pleased to have secured local companies to provide food and drink throughout the day for people to purchase.</p>
	</section>


	<section>
		<h2>DRINKS</h2>
		<p>We are thrilled to have the <strong>SLOE DRINKS</strong> company coming along to run a licenced bar. They are a Hastings based company that work with local producers of gins, rums, craft beers and sparkling wines from across Sussex and Kent. Alongside their main drinks menu we will be choosing a local produced beer and cider especially for Hoodstock.</p>
		<p>Find out more about <a href="http://www.sloedrinks.co.uk">SLOE DRINKS Mobile Bar Service</a></p>
	</section>


	<section>
		<h2>FOOD</h2>
		<p>When working with FTB parties we asked them for recommendations for a hog roast and Adam at Precision Catering was a hands down first! From Etchingham he specialises in hog-roasts alongside high-end private catering.</p>
		<p>Adam will be selling freshly made Hog Roast baps (£8 adults / £5 kids) as well as kids sausage baps on the day. He will be creating a special mushroom /avocado chimichurri bap for those non-meat eaters. Please make sure you let us know when you register if you would prefer a veggie/vegan option so we know how much to prepare.</p>
		<p>We have also arranged a visit from Hastings based Ace ice-cream van. They will be popping along between 5pm and 6pm with their van full of delights for kids and ice-cream-loving grown-ups!</p>
	</section>


	<section>
		<p>ALL VENDORS WILL ACCEPT CASH &amp; CARD PAYMENTS</p>
		<p>Please note: In line with our licence agreement all drinks must be purchased from the licenced bar. Please <strong>do not bring any drinks with you</strong> apart from children’s drinks cups.</p>
	</section>


</main>

