---
layout: hoodmain
---
<main>

	<section>
		<h1>TICKETS &amp; INFO</h1>
	</section>


	<section>
		<h2>Tickets</h2>

		<p>HOODSTOCK is a private, not for profit event. It will not be publicly advertised, but is open to friends, family and extended friends who would like to come.</p>
		<p>Everyone who wishes to attend HOODSTOCK (including children) will need to register via <a href="https://www.eventbrite.co.uk/e/hoodstock-reunion-festival-tickets-308863287407">our Eventbrite page</a>.</p>
		<p>In line with a private event we are not ‘charging’ for tickets, but asking for donations to help cover the costs of staging the festival.  Kids are welcome to come for free but will need to register for entry.</p>
		<p>There are options on our Eventbrite page to order a HOODSTOCK T-shirt or VIP goodie bag with your donation. These options are available <strong>until 5th June</strong> so that we have time to have T-shirts and bags ready to collect on the day.</p>
	</section>


	<section>
		<h2>Getting There</h2>

		<p>Harry &amp; Kate’s house is just off the A21 on Westfield Lane. The postcode is TN37 7NG.</p>
		<p>The nearest bus stops are Westfield Lane / Westfield Turning / Maplehurst Road (95 from Bexhill).</p>
		<p>It’s around £8 in a cab from Hastings station.</p>
		<p>If you do want to drive there is not really any street parking directly near the house. However, you can book a parking space for £2 - £4 for the day in Sainsbury’s or Premier Inn (John Macadam Way) via <a href="https://www.yourparkingspace.co.uk/">YourParkingSpace</a>. This is around a 12 – 15 min walk from the Hoods’ house.</p>
	</section>


	<section>
		<h2>Where to Stay</h2>

		<p>We know many of the friends and family coming to HOODSTOCK will have connections and places to stay locally.</p>
		<p>We have also made sure the festival ends in time for people to get trains/transport home.</p>
		<p>If you are planning on making a weekend of it, we recommend looking at the following options within walking distance from Harry &amp; Kate’s house:</p>

		<ul>
			<li><a href="https://www.premierinn.com/gb/en/hotels/england/east-sussex/hastings.html">Premier inn Hastings</a> (15min walk)</li>
			<li><a href="https://www.parkholidays.com/our-parks/sussex/beauport/caravan-holiday-homes-for-sale?msclkid=951a571f35e014082c6635403e8bbd63&utm_source=bing&utm_medium=cpc&utm_campaign=Sussex-Parks&utm_term=beauport%20holiday%20park&utm_content=HP-Sussex-BP-Sales">Beauport Holiday Park</a> (10min walk)</li>
			<li><a href="https://www.bannatyne.co.uk/hotel/hastings">Bannaytyne Spa Hotel</a> (15–20min walk)</li>
		</ul>

		<p>Beyond that there is a large range of options on <a href="http://www.booking.com/">booking.com</a>, <a href="https://www.airbnb.co.uk/">Airbnb</a> and <a href="http://www.campsites.co.uk">www.campsites.co.uk</a></p>
	</section>


	<section>
		<h2>What to Bring</h2>

		<ul>
			<li>Your registration confirmation from Eventbrite – <strong>you will need this to be able to come in</strong>.</li>
			<li>We have got some good old hay bales coming for people to sit on, but feel free to bring your own chairs/rugs if you would like to.</li>
			<li>The Hog Roast will be available from around 3pm so if you want to bring some light snacks to keep you going until then that’s fine.</li>
			<li>We have put in a marquee just in case we have bad weather, but dress for the day! We will rock out come rain or shine!</li>
		</ul>
	</section>


	<section>
		<h2>What NOT to Bring</h2>

		<ul>
			<li><strong>DO NOT</strong> bring drinks! (apart from children’s drinks cups). There will be a licenced bar on site selling lots of wonderful locally sourced beverages (see <a href="/food">Food &amp; Drink</a>)</li>
		</ul>
	</section>

</main>

