---
layout: hoodmain
---
<main>

	<section>
		<h1>KIDS</h1>
	</section>


	<section>
		<p>We have made sure there are lots of activities to keep the children entertained as well as the music. Everything for kids is free and unlimited thanks to a very generous Hoodstock donor.</p>
	</section>


	<section>
		<h2>Bouncy Castle</h2>

		<p>Local company ‘So So Soft Play’ are bringing over a bouncy castle, bouncy slide and soft play for the little ones.</p>
	</section>


	<section>
		<h2>Face Painting</h2>

		<p>Westfield based Fantasy Face painting will be coming to the festival between 3pm and 5pm.</p>
	</section>


	<section>
		<h2>School of Rock</h2>

		<p>We will have a dedicated musical play area for kids to try out instruments and make their own music!</p>
	</section>


	<section>
		<h2>Craft Tent</h2>

		<p>There will be a whole host of glitter and glue for kids to take a break and make something awesome to take home.</p>
	</section>




</main>

