* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-size: 62.5%;
	height: 100svh;
	color: $mainFgColour;
	background: linear-gradient(
		to bottom,
		$white,
		$white 50%,
		$hs2024red 50%,
		$hs2024red
	);
	background-size: 100% 135px;
	font-family: $copyFont;

	@media (min-width: $breakpoint) {
		background-attachment: fixed;
	}
}
