@import "partials/vars";
@import "partials/fonts";

$headingFont: "Norwester", sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	color: $black;
	background: linear-gradient(
		to bottom,
		$white,
		$white 50%,
		$hs2024red 50%,
		$hs2024red
	);
	background-size: 100% 135px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	main {
		border: 3vw solid black;
		background: white;
		padding: 4vw;
		display: inline-block;
		margin: auto;

		@media (min-width: $breakpoint) {
			border-width: 14px;
			padding: 20px;
		}
	}

	h1,
	h2 {
		font-weight: normal;
		max-width: 100%;
	}

	h1 {
		font-family: $headingFont;
		font-size: 16vw;

		@media (min-width: $breakpoint) {
			font-size: 10em;
		}
	}

	h2 {
		font-family: $headingFont;
		font-size: 10vw;

		@media (min-width: $breakpoint) {
			font-size: 7em;
		}
	}
}
