<footer>
	<p>HOODSTOCK is a private, not for profit event. All attendees must register via <a href="https://www.eventbrite.co.uk/e/hoodstock-at-the-blackbox-tickets-912697050447">Eventbrite</a>. Questions? Email <a href="mailto:contact@hoodstock.rocks">contact@hoodstock.rocks</a>.</p>
</footer>
