<footer>
	<p>HOODSTOCK is a private, not for profit event. All attendees must register via <a href="https://www.eventbrite.co.uk/e/hoodstock-reunion-festival-tickets-308863287407"> Eventbrite</a>. Questions? Email <a href="mailto:contact@hoodstock.rocks">contact@hoodstock.rocks</a>.</p>
</footer>
