<a class="trigger" href="#touch-nav">MENU</a>

<ul class="current-{{currPage}}" id="touch-nav">
	{# <li class="home"><a href="/">HOME</a></li> #}
	<li class="home"><a href="/home">HOME</a></li>
	<li class="info"><a href="/info">TICKETS &amp; INFO</a></li>
	<li class="kids"><a href="/kids">KIDS</a></li>
	<li class="bands"><a href="/bands">THE BANDS</a></li>
	<li class="food"><a href="/food">FOOD &amp; DRINK</a></li>
	<li class="close"><a href="#">Close</a></li>
</ul>
